.formulario-area {
    margin: 4vw;
    width:  100%;
    display: flex;
    justify-content: center;
}

.formulario-busca {
    width: clamp(300px, 50vw, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    --tamanho-area-formulario: clamp(36px, 3vw, 3vw);
    --tamanho-texto-formulario: clamp(12px, 1.2vw, 1.2vw);
    --espacamento-inputs: clamp(5px, 0.9vw, 0.9vw);
}


.label-pesquisa {
    height: var(--tamanho-area-formulario);
    width: 95%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

#texto-pesquisa {
    padding-right: calc(var(--tamanho-texto-formulario) * 3);
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: var(--tamanho-texto-formulario);
    text-indent: var(--tamanho-texto-formulario);
    position: absolute;
    border: 0.1vw solid rgb(0, 0, 0);
    border-radius: 0.5em;
}

#texto-pesquisa:hover,
#texto-pesquisa:focus,
#texto-pesquisa:active
{
    background-color: rgb(207, 207, 207);
    border-color: rgb(158, 178, 187);
}


.limpa-busca {
    z-index: 7;
    padding: calc(var(--tamanho-texto-formulario) / 2);
    font-size: calc(var(--tamanho-texto-formulario) * 1.5);
    display: flex;
    align-items: center;
    cursor: pointer;
}


.formulario-busca button {
    padding: calc(var(--espacamento-inputs) / 2);
    margin-top: var(--espacamento-inputs);

    font-size: var(--tamanho-texto-formulario);
    background-color: rgb(158, 178, 187);
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.formulario-busca button {
    background-color: rgb(130, 156, 168);
}

@media(max-width: 500px) {
    .formulario-busca button {
        width: 95%;
    }
}