.repositorios {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-repositorios {
    width: 100%;
    display: flex;
    justify-content: center;
}
.lista-repositorios {
    margin: 0 2vw;
    width: clamp(500px, 50vw, 95%);
    list-style-type: none;

    --fonte-grande-itens: clamp(13px, 1.2vw, 1.2vw);
    --fonte-media-itens: clamp(11px, 1vw, 1vw);
    --fonte-pequena-itens: clamp(10px, 0.8vw, 0.8vw);

    --espacamento-texto: clamp(4px, 0.4vw, 0.4vw);
    --espacamento-itens: clamp(20px, 1.5vw, 1.5vw);
}

.repositorio-item {
    margin: var(--espacamento-itens) 0;
    padding: var(--espacamento-texto);
    --largura-borda: clamp(2px, 0.2vw, 0.2vw);
    border-left: var(--largura-borda) solid #999;
    border-right: var(--largura-borda) solid #999;
    background-color: rgba(0, 0, 0, .02);
    cursor: pointer;
}
.repositorio-item:hover {
    background-color: rgba(255, 136, 0, .05);
    border-color: rgb(255, 136, 0);
    box-shadow: 0 0 var(--espacamento-texto) orange;
}

.repositorio-item h1 {
    font-size: var(--fonte-grande-itens);
    color: rgb(255, 136, 0);
}

.item-descricao {
    margin: calc(var(--espacamento-texto) / 2) 0;
    font-size: var(--fonte-media-itens);
}

.lista-topicos-repositorio {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.lista-topicos-repositorio li {
    margin: calc(var(--espacamento-texto) / 3);
    padding: var(--espacamento-texto);
    font-size: var(--fonte-pequena-itens);
    border-radius: var(--fonte-pequena-itens);
    border: 0.1vw solid rgb(255, 174, 0);
    color: rgb(255, 136, 0);
    font-weight: bold;
}

.informacoes-extras {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.informacoes-extras .info {
    margin-right: calc(var(--espacamento-texto) * 2);
    display: flex;
    align-items: center;
    font-size: var(--fonte-media-itens);
    color: #000;
}

.informacoes-extras .usuario {
    margin: var(--espacamento-texto) 0;
    width: 100%;
    color: #000;
    font-weight: bold;
}

.icone-info {
    margin-right: calc(var(--espacamento-texto) / 3);
    color: rgb(83, 83, 83);
    font-size: var(--fonte-grande-itens);
    
}