.repositorios {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lista-repositorios {
    margin: 0 2vw;
    width: clamp(500px, 50vw, 95%);
    list-style-type: none;

    --tamanho-fonte-itens: clamp(11px, 1vw, 1vw);
    --espacamento-texto: clamp(5px, 0.5vw, 0.5vw);
    --espacamento-itens: clamp(20px, 1.5vw, 1.5vw);
}

.repositorio-item {
    margin: var(--espacamento-itens) 0;
    padding: var(--espacamento-texto);
    border-left: 0.1vw solid rgb(109, 109, 109);
    border-right: 0.1vw solid #999;
}

.repositorio-item h1 {
    font-size: clamp(13px, 1.2vw, 1.2vw);
    color: rgb(82, 82, 82);
}