.repositorios {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lista-repositorios {
    margin: 0 2vw;
    width: clamp(500px, 50vw, 95%);
    list-style-type: none;

    --fonte-grande-itens: clamp(13px, 1.2vw, 1.2vw);
    --fonte-media-itens: clamp(11px, 1vw, 1vw);
    --fonte-pequena-itens: clamp(10px, 0.8vw, 0.8vw);

    --espacamento-texto: clamp(4px, 0.4vw, 0.4vw);
    --espacamento-itens: clamp(20px, 1.5vw, 1.5vw);
}

.repositorio-item {
    margin: var(--espacamento-itens) 0;
    padding: var(--espacamento-texto);
    border-left: 0.1vw solid rgb(109, 109, 109);
    border-right: 0.1vw solid #999;
}

.repositorio-item h1 {
    font-size: var(--fonte-grande-itens);
    color: rgb(255, 136, 0);
}

.item-descricao {
    margin-top: var(--espacamento-texto);
    font-size: var(--fonte-media-itens);
}

.lista-topicos-repositorio {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.lista-topicos-repositorio li {
    margin: calc(var(--espacamento-texto) / 3);
    padding: var(--espacamento-texto);
    font-size: var(--fonte-pequena-itens);
    border-radius: var(--fonte-pequena-itens);
    border: 0.1vw solid rgb(255, 174, 0);
    background-color: rgb(255, 243, 228);
    color: rgb(255, 136, 0);
    font-weight: bold;
}