.area-paginacao {
    width: 100%;
    display: flex;
    justify-content: center;
    --fonte-pagina-itens: clamp(14px, 1vw, 1vw);
}

.paginacao-lista {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.paginacao-lista .foco {
    background-color: rgb(201, 130, 0);
}

.paginacao-lista .numero {
    cursor: pointer;
}

.paginacao-lista li {
    border: 1px solid black;
    padding: calc(var(--fonte-pagina-itens) / 3) calc(var(--fonte-pagina-itens) / 2);
    line-height: var(--fonte-pagina-itens);
    font-size: var(--fonte-pagina-itens);
    cursor: default;
}

.paginacao-lista li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}